img {
    max-width: 400px; 
    height: auto;
  }

#AboutUsContainer{
    background-color: #CDEEFF;
}

.row{
  padding: 2% !important;

}

h2{
  font-weight: bold;
}

#SellerContainer{
  padding-right: 10%;
}

.centerButton{
  text-align: center;
}

.active{
  text-decoration: underline;
}