<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="css/adminAgentView.css">
    <script src="js/adminAgentView.js"></script>

</head>
<div class="tabbed-groups">
    <h1 class="text-center">Agents</h1>
     <div class="search">
                            <span class="search-icon material-symbols-outlined">search</span>
                            <input class="search-input" type="search" placeholder="Search Agent">
                            <button class="filter-icon" ><span class="material-symbols-outlined">tune</span>  </button>
                        </div> 
    <div class="tab">
        <button class="tablinks" onclick="openTab(event, 'approved')">Approved Agents</button>
        <button class="tablinks" onclick="openTab(event, 'unapproved')">Unapproved Agents</button>
    </div>

    <div id="approved" class="tabcontent">
        <!-- Content for Approved Agents tab -->
        <table>
            <!-- Table for Approved Agents -->
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Agent 1</td>
                    <td>agent1@example.com</td>
                    <td>Approved</td>
                </tr>
                  <tr>
                    <td>Agent 4</td>
                    <td>agent4@example.com</td>
                    <td>Approved</td>
                </tr>  <tr>
                    <td>Agent 5</td>
                    <td>agent5@example.com</td>
                    <td>Approved</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="unapproved" class="tabcontent">
        <!-- Content for Unapproved Agents tab -->
        <table>
            <!-- Table for Unapproved Agents -->
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Agent 2</td>
                    <td>agent2@example.com</td>
                    <td>Unapproved</td>
                </tr>
                  <tr>
                    <td>Agent 3</td>
                    <td>agent3@example.com</td>
                    <td>Unapproved</td>
                </tr>
                  <tr>
                    <td>Agent 6</td>
                    <td>agent6@example.com</td>
                    <td>Unapproved</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>