<head>
    <link rel="stylesheet" href="/css/buyhouse.css">
    <style>
        .aboutme_button{
            border: solid 1px;
            border-radius:20px;
            background-color:rgb(184, 0, 0);
            width:10rem;
            padding:10px;
            margin-left:auto;
            margin-bottom:20px;
            color:black;
            box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
            text-align:center;
        }
    </style>
</head>

<div class="container">
    <h1 >Properties:</h1>
    <div class="buyitem">
            <div class="houseimg">
                <img src="images/hdb1.jpg" class="buyitemimage">
            </div>
            <div class="housedesc">
                <h2 class="desctext">212B Punggol Walk</h2> 
                <p class="desctext">212B Punggol Walk -  822212, Hougang / Punggol</p>
                <p class="desctext">S$ 650,000</p>
                <div>
                    3 Bedroom - 2 Bathroom - 1000 sqft - S$650 psf 
                </div>
                <div>
                    HDB - Built: 2014 - Resale 
                </div>
                <a class="hover_settings" href="#" style="margin-bottom:20px;"><div class="aboutme_button">DeList Property</div></a>
            </div>
    </div>
</div>