<head>
    <link rel="stylesheet" href="css/sellhouse.css">
</head>

<div class="container" style="margin-bottom:200px;margin-top:50px;">
    <div class="row">
        <div class="col">

        </div>
        <div class="col-9" style="text-align:center;">
            <h1>Looking to sell?</h1>
            <div>
                Let us help you sell your property quickly at the best price.
            </div>
        </div>
        <div class="col">

        </div>
    </div>
</div>
<div class="container" style="margin-bottom:200px;">
    <div class="row">
        <div class="col">

        </div>
        <div class="col-9" style="text-align:center;">
            <h2>Leave your worries to a property agent.</h2>
                <div>
                    With their expert knowledge of the market, extensive network, and negotiation skills, they handle the complexities of buying, selling, or renting property on your behalf. From property valuations and listing to arranging viewings and managing paperwork, they ensure a smooth and stress-free process. 
                </div>
                <br>
            <a href="/findAgents"><button id="cta-button">Find Agent</button></a>
        </div>
        <div class="col">

        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">

        </div>
        <div class="col-11" style="text-align:center;">
            <h2>Benefits</h2>
            <table>
                <tr>
                    <th>
                        Maximising Value
                    </th>
                    <th>
                        Quality Marketing
                    </th>
                    <th>
                        Fast Sales
                    </th>
                </tr>
                <tr>
                    <td>
                        Through our access to network of potential buyers and creative marketing channels we help sellers fetch the best possible price for their property.
                    </td>
                    <td style="padding-left:60px;padding-right:60px;">
                        We are experts at improving your property’s appeal and positioning it attractively for buyers through creative marketing and home styling.
                    </td>
                    <td>
                        We help you property gain quick exposure through our network of buyers with up-to-date marketing strategies. Sell your home quickly with us.
                    </td>
                </tr>
            </table>
        </div>
        <div class="col">

        </div>
    </div>
</div>
