body {
    padding-top: 60px; /* Adjust based on your navbar height */
}

.tabcontent {
    display: none;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

/* Show the default tab content */
#allFeedback {
    display: block;
}

/* Style for vertical button groups */
.btn-group-vertical {
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
    gap: 10px; /* Space between stacked buttons */
}

/* Specific button colors */

.btn-success {
    background-color: #28a745; /* Success color */
    color: white;
}

.btn-primary {
    background-color: #007bff; /* Primary color */
    color: white;
}

.table td .btn-group-vertical {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100px; /* Set a fixed width for the button group */
}

.table td .btn-group-vertical .btn,
.table td .btn {
    width: 100%;
    margin-bottom: 5px;
    text-align: center;
}

.table td form {
    margin-bottom: 0;
}