/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.rating-box {
  position: relative;
  background: #fff;
  padding: 25px 50px 35px;
  border-radius: 25px;
}
.rating-box header {
  font-size: 22px;
  color: black;
  font-weight: 500;
  margin-bottom: 20px;
  text-align: center;
}
.rating-box .stars {
  display: flex;
  align-items: center;
  gap: 25px;
}
.stars i {
  color: #e6e6e6;
  font-size: 35px;
  cursor: pointer;
  transition: color 0.2s ease;
}
.stars i.active {
  color: #ff9c1a;
}

.rating-box{
  text-align: center;
}

.center-rating{
  display: flex;
  align-items: center;
  justify-content: center; 
}

.feedbackForm{
  background-color: white;
}

.feedback-form-img {
  max-width: 400px; 
  height: auto;
}

.centerButton{
  text-align: center;
}

