.gradient{
    background-image: linear-gradient(white, #CDEEFF);
    padding-bottom:20px;
}

.title{
    text-align: center;
}

.container{
    padding: 2rem;
}

.slider-wrapper{
    position:relative;
    max-width: 48rem;
    margin:0 auto;
}

.slider{
    display:flex;
    aspect-ratio: 16/9;
    overflow-x:auto;
    scroll-snap-type:x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0,0%, 0%, 0.25);
    border-radius:0.5rem;
}

.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit:cover;
}

.slider-nav{
    display:flex;
    column-gap: 1rem;
    position:absolute;
    bottom:1.25rem;
    left:50%;
    transform:translateX(-50%);
    z-index:1;
}

.slider-nav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color:#fff;
    opacity:0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover{
    opacity:1;
}

.text{
    text-align: center;
}

.text-right{
    border-right:1px solid;
}

.agentbox{
    border:solid 1px;
    height:40rem;
    width:25rem;
    background-color: #CDEEFF;
}

.profilepicture{
    height:80px;
    width:80px;
    margin-left:20px;
    border-radius:50px;
    border:1px solid;
    background-color:white;
}

.aboutme_button{
    border: solid 1px;
    border-radius:20px;
    background-color:white;
    width:10rem;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    color:black;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);

}

.aboutme_button:hover{
    background-color:#f6f6f6;
}

.hover_settings:hover{
    color:black;
}

.propagentlogo{
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

.contactbuttons{
    margin-top:25px;
    margin-bottom:25px;
    text-align: center;
}

.fa-star{
    color:rgb(255, 217, 0);
}

.contactrow{
    border-top:1px solid;
}

.contactrow:hover{
    background-color:#bce7fd
}

.contactbuttonclick{
    color:black;
}

.contactbuttonclick:hover{
    color:black;
}

.details_table {
    table-layout: fixed;
    margin-right:auto;
    margin-left: auto;
    width: 100%;
    background-color:#edf9ff;
}

.details_table th {
    width: 150px; /* Adjust this value to control the width */
    text-align: left; /* Ensure text alignment is appropriate */
    padding: 8px; /* Add some padding for better appearance */
}

.details_table td {
    text-align: left;
    padding: 8px; /* Match padding for consistency */
}

.mapfilter {
    border: 1px solid;
    height:10%;
    width:100%;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}

.map{
    width:100%;
    height:30rem;
}

.property-type {
    list-style-type: none;
    margin: 25px 0 0 0;
    padding: 0;
    text-align:center;
  }
  
  .property-type li {
    float: left;
    margin: 0 5px 0 0;
    width: 100px;
    height: 40px;
    position: relative;
  }
  
  .property-type label,
  .property-type input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .property-type input[type="radio"] {
    opacity: 0.01;
    z-index: 100;
  }
  
  .property-type input[type="radio"]:checked+label,
  .Checked+label {
    background: white;
  }
  
  .property-type label {
    padding: 5px;
    border: 1px solid #CCC;
    cursor: pointer;
    z-index: 90;
    border-radius: 28px;
  }
  
  .property-type label:hover {
    background: #DDD;
  }

  .clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.schedule_button{
    border: solid 1px;
    border-radius:20px;
    background-color:white;
    width:8rem;
    padding:5px;
    margin-top:10px;
    color:black;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    text-align:center;
}

.schedule_button:hover{
    background-color:#f6f6f6;
}

.agenttext{
    background-color:white;
    height: 550px;
    border-radius:10px;
    padding: 10px;
    overflow-y:scroll;
}