#cta-button {
    background: #CDEEFF;
    border: none;
    padding: 1rem 2rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
    border-radius: 30px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

#cta-button:hover {
    background: #bce7fd;
}