<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="css/adminFeedback.css">
    <link rel="javascript" href="adminFeedback.js">
    <link rel="javascript" href="handlebarFunctions.js">
</head>
<h1>View Feedback</h1>
{{#if feedback}}
    
{{else}}
    <p>An error has occured, and the feedback could not be found</p>
{{/if}}