<!-- CSS !-->
<link rel="stylesheet" href="css/FeedbackForm.css">

<h1 class="text-center">Feedback Form</h1>
<form action="" method="post">
    <div class="form-group">
        <label for="experienceRating">How would you rate your experience today</label>
        <input type="radio" name="experienceRating" value="radio1" id="radio1">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>