<!-- CSS !-->
<head>
<link rel="stylesheet" href="css/FeedbackForm.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
<script src="js\feedbackForm.js" defer></script>
</head>
<div class="center-rating">
    <div class="rating-box">
        <header>How was your experience?</header>
        <div class="stars">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
        </div>
        <br>
        <p>Rating: <span id="current-rating">0</span>/5</p>
    </div>
</div>
