<!-- CSS !-->
<head>
<link rel="stylesheet" href="../css/FeedbackForm.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
<script src="../js\feedbackForm.js" defer></script>
</head>
<br>
<div class="feedbackForm">
    {{> _errors}}
    <form action="/feedback/feedbackForm" method="post">
        <div class="center-rating">
            <div class="rating-box">
                <header>FeedbackForm</header>
                <P>How was your experience?</P>
                <div class="stars">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <br>
                <input type="hidden" name="Rating" id="current-rating" value="0"/>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="form-group">
                    <label for="Name">Name</label>
                    <input type="text" name="Name" class="form-control" required>
                    <br>
                    <label for="Email">Email</label>
                    <input type="email" name="Email" class="form-control" required>
                    <br>
                    <label for="visitReason">What prompted you to visit our feedback form today?</label>
                    <div class="input-group mb-3">
                        <select class="custom-select" id="visitReason" name="VisitReason" required>
                            <option selected value="Choose">Choose...</option>
                            <option value="Report an issue">Report an issue</option>
                            <option value="Provide feedback">Provide feedback</option>
                            <option value="Send a suggestion">Send a suggestion</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                    <label for="AgentID">Agent ID (Optional)</label>
                    <input type="text" name="AgentID" class="form-control">
                    <label for="Description">Description</label>
                    <input type="text" name="Description" class="form-control" required>
                    <br>
                    <div class="centerButton">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        </form>
    </div>
    </div>
    <br>
</div>