<head>
    <!--CSS !-->
    <link rel="stylesheet" href="/css/userRegister.css">
</head>

<!--Registration Container-->
<div class="register-page">
    <div class="logo">Sigma Properties</div>
    <div class="illustration"></div>
    <div class="register-box">
        <div class="welcome-text">Create an Agent Account</div>
        <form method="post">
            <div class="input-group">
                <label for="firstName">First Name</label>
                <input type="text" id="firstName" name="firstName" placeholder="Enter your first name">
            </div>
            <div class="input-group">
                <label for="lastName">Last Name</label>
                <input type="text" id="lastName" name="lastName" placeholder="Enter your last name">
            </div>
            <div class="input-group">
                <label for="phone">Phone Number</label>
                <input type="tel" id="phone" name="phone" placeholder="Enter your phone number">
            </div>
            <div class="input-group">
                <label for="email">Gmail</label>
                <input type="email" id="email" name="email" placeholder="Enter your email">
            </div>
            <div class="input-group">
                <label for="agency-license">Agency License Number</label>
                <input type="text" id="agency_license" name="agency_license">
            </div>
             <div class="input-group">
                <label for="agency-license">Agency Registration Number</label>
                <input type="text" id="agency_registration" name="agency_registration">
            </div>
             </div>
             <div class="input-group">
                <label for="agency-license">Agent Bio</label>
                <textarea type ="text" id="bio" name="bio"></textarea>
            </div>
            <div class="input-group">
                    <label for="agentPictures">Upload profile picture</label>
                    <input type="file" id="agentPictures" name="agentPictures" multiple accept="image/*" >
                </div>
            <div class="input-group position-relative">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Enter your password">
                <div class="password-visibility-toggle" onclick="togglePasswordVisibility()"></div>
            </div>
            <div class="input-group">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm your password">
            </div>
            <button type="submit" class="formbutton" onclick="window.location.href='/agentLogin'">Register</button>
        </form>
    </div>
</div>