<head>
    <!--CSS !-->
    <link rel="stylesheet" href="/css/Login.css">
</head>

<!--Login Container-->
<div class="login-page">
    <div class="logo">Sigma Properties</div>
    <div class="illustration"></div>
    <div class="login-box">
        <div class="welcome-text">Welcome Agent!</div>
        <div class="sign-in-text">
            <h2>Sign in to</h2>
            <p>Access Sigma Properties as Agent</p>
        </div>
        {{#if user}}
            <p>Welcome, {{agent.agent_firstName}} {{agent.agent_lastName}}</p>
            <a href="/logout">Logout</a>
        {{else}}
            <form method="post" action="/agentLogin">
                <div class="input-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" placeholder="Enter your email" required>
                </div>
                <div class="input-group position-relative">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="Enter your password" required>
                    <div class="password-visibility-toggle" onclick="togglePasswordVisibility()"></div>
                </div>
                <button type="submit" class="formbutton">Login</button> 
                <button type="button" class="register-button" onclick="window.location.href='/agentRegister'">Register for Agent Account</button>
                <button type="button" class="register-button" onclick="window.location.href='/login'">Login as User</button> 
            </form>
        {{/if}}
    </div>
</div>

<script>
        function togglePasswordVisibility() {
            const passwordInput = document.getElementById('password');
            const confirmPasswordInput = document.getElementById('confirmPassword');
            const type = passwordInput.type === 'password' ? 'text' : 'password';
            passwordInput.type = type;
            confirmPasswordInput.type = type;
        }
</script>