<head>
    <meta charset="UTF-8">
    <title>Password Reset</title>
</head>
<body>
    <h1>Password Reset</h1>
    
    {{#if isAgent}}
        <p>You are resetting the password for an agent.</p>
    {{else}}
        <p>You are resetting the password for a customer.</p>
    {{/if}}
    
    <form action="/reset-password" method="POST">
        <label for="newPassword">New Password:</label>
        <input type="password" id="newPassword" name="newPassword" required>
        <br>
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required>
        <br>
        <input type="submit" value="Reset Password">
    </form>
</body>