<head>
    <link rel="stylesheet" href="css/AgentPropertyOptions.css">
</head>

<div class="container option-container">
    <h1>Property Management</h1>
    <div class="options">
        <a href="/agentListProperty" class="option-button">List New Property</a>
        <a href="/agentUpdateProperty" class="option-button">Manage Properties</a>
    </div>
</div>